body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #484848;
    font-family: 'Lato', sans-serif;

}

/* section styling */

.sections {
  display: block;
}

.section {
    float: left;
    margin-left: 3%;
    text-align: left;
    color: #f7f7f7;
    background-color: #333;
    font-size: 18px;
    background-repeat: no-repeat;
    padding: 2%;
    margin-top: 5%;
    width: 88.5%;
    /* position: relative; */
    margin-bottom: 3%;
    background-position: bottom;

}

.section_title {
  font-size: 32px;
  font-weight: 600;
}



/* header styling */
.header {
  color: #E4A408;
  width: 100%;
  height: 100px;
  display: block;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 5%;
  background-color: #333;
}

.title {
  color: #E4A408;
  float: left;
  width: 55%;
  padding-top: 4%;
  display: block;

}

.title h1 {
  float: left;
  padding-left: 2.5%;
  font-size: 42px;
  font-weight: 600;

}

.title img {
  width: 80px;
  float: left;
  height: auto;

}

#subtitle {
  /* word-wrap: break-word; */
  font-size: 16px;
  float: left;
  padding-left: 1%;
  padding-top: 5%;

}


.line {
  height: 1%;
}

#line1 {
  width: 2%;
  float: left;
  padding-top: 1.6%;
  border-bottom: 30px solid  #E4A408;

}

#line2, #line3, #line4 {

  width: 80%;
  border-top: 3px solid white;
  padding-top: 20px;

}


.footer {
  background-color: #333;
  height: 50px;
  width: 100%;
  float: left;
  margin-top: 5%;
}



/* map styling */

.section_parent {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  margin-left: 3%;
  text-align: left;
  color: #f7f7f7;
  /* background-color: #333; */
  font-size: 18px;
  background-repeat: no-repeat;
  margin-top: 4%;

  /* position: relative; */

  background-position: bottom;
}

#map_about {
  height: 64%;
  width: 100%;
  float: left;
  /* margin-top: 5%; */
  /* margin-bottom: 3%; */
}


#map_stats {
  float: left;
  width: 100%;
  height: 34%;
  margin-top: 1%;
  margin-bottom: 3%;
}

#map_title {
    color: #E94F64;
    font-weight: 1000;
}

.map_description_bg {
  background-color: #E94F64;
  opacity: .2;
  width: 100%;
}

.map_description {
  padding: 10%;
}

#map_ca {
  float:left;
  width: 66%;

}

#map_ca svg {
  /* margin-left: 3%; */
  /* margin-top: 10%; */
  background-color: #3d3d3d;

}


/* graph styling */

#graph {
  margin-top: 0;
  margin-left: 3.5%;
}


/* in common */

.graph_title {
  margin-top: -5%;
  margin-left: -3%;
  text-transform: uppercase;
  /* color:"#D1475A"; */
}



.graph_description {
  padding: 5%;
}

.g_header {
  font-size: 32px;
  font-family: 'Lato', sans-serif;

}

.graph_svg {
  text-align: center;
  margin: 0 auto;
}


#graph_title {
  color: #E4A408;
}

/* controlling subunits/red parts  */
.subunit.San.Francisco,
.subunit.mateo,
.subunit.alameda,
.subunit.santa.clara {
  fill: maroon;
  stroke: #d3d3d3;
  stroke-linejoin: round;
}

.subunit {
  fill: #d3d3d3;
  stroke: #d3d3d3;
  stroke-width: 1px;
}
.subunit:hover {
  opacity: 0.5;
  fill: #d3d3d3;
}
.exterior-boundary {
  fill: none;
  stroke: #d3d3d3;
  stroke-linejoin: round;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 10px;
  font: 12px sans-serif;
  color: #f7f7f7;
  background: #E4A408;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
