body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #fefdfb;
    font-family: 'Lato', sans-serif;

}

/* section styling */

.sections {
  display: block;
}

.section {
    float: left;
    margin-left: 10%;
    text-align: left;
    color: white;
    background-color: #a6a6a6;
    font-size: 18px;
    font-family:"Roboto Condensed";
    border-radius: 20px;
    background-repeat: no-repeat;
    padding: 10%;
    width: 60%;
    position: relative;
    margin-bottom: 3%;
    background-position: bottom;
    box-shadow: 1px 1px #CCC;

}

.section_title {
  font-size: 32px;
  font-weight: 600;
}



/* header styling */
.header {
  color: #E4A408;
  width: 100%;
  height: auto;
  display: block;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.title {
  color: #E4A408;
  float: left;
  width: 55%;
  display: block;

}

.title h1 {
  float: left;
  padding-left: 2%;

}

#subtitle {
  /* word-wrap: break-word; */
  font-size: 12px;
  float: left;
  padding-left: 1%;
  padding-top: 4%;

}



.nav {
  width: 24%;
  float: left;
  padding-top: 2.5%;
  text-align: right;

}

.nav a {

  font-weight: 600;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 5px solid #E4A408;
  color: #E4A408;

}

.line {
  height: 1%;
}

#line1 {
  width: 2%;
  float: left;
  padding-top: 1.6%;
  border-bottom: 30px solid  #E4A408;

}

#line2, #line3, #line4 {

  width: 30%;
  border-top: 3px solid white;
  padding-top: 20px;

}


/* about styling */

#about {
  height: 70%;
}
.about_description {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    /* transform: translate(-50%, -50%); */
}


/* map styling */

#map {
  height: auto;
  position: relative;
}

#map_svg {
  /* text-align: center; */
  width: 100%;
  position: relative;
}

/* graph styling */

#graph {

}


/* in common */
.graph_title {
  margin-top: -5%;
  margin-left: -3%;
}

/* controlling subunits/red parts  */
.subunit.San.Francisco,
.subunit.mateo,
.subunit.alameda,
.subunit.santa.clara {
  fill: maroon;
  stroke: white;
  stroke-linejoin: round;
}

.subunit {
  fill: #d3d3d3;
  stroke: white;
  stroke-width: 1px;
}
.subunit:hover {
  opacity: 0.7;
  fill: lightyellow;
}
.exterior-boundary {
  fill: none;
  stroke: #d3d3d3;
  stroke-linejoin: round;
  stroke-width: 2px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 75px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
